# --- CONFIGURACIÓN DE VARIABLES DE ENTORNO (EJEMPLO) ---

# Puerto donde corre el backend dentro del contenedor
PORT=3001

# URI de conexión a MongoDB
# Nota: 'mongo' es el nombre del servicio en el docker-compose.yml
MONGODB_URI=mongodb://mongo:27017/inventario_educativo
DB_NAME=inventario_educativo

# Clave secreta para JWT (Cambiala por algo seguro)
JWT_SECRET=tu_clave_secreta_aqui
